<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/cv">cv</a></li>
<li><a href="/research">research</a></li>
<li><a href="/students">students</a></li>
<li><a href="/software">software</a></li>
<li><a href="/more">more</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:livio.finos@unipd.it">email</a></li>
   <li><a <a href="https://dl.dropboxusercontent.com/u/2487724/finos_livio_cv.pdf" class="download" title="Download CV as PDF">Download CV</a>  </li>
   </ul>
  </footer>
  </body>

</html>
